


<div class="banner">
  <h1>Anniversaires</h1>
</div>


 <div class="container">

<p>
  <strong>Prenom :</strong>
  <%= @anniv.name %>
</p>

<p>
  <strong>Date de naissance :</strong>
  <%= I18n.l(@anniv.birthdate, format: :long, locale: :'fr') %>
</p>

<p>
  <strong>Actif :</strong>
  <%= @anniv.active %>
</p>

<br>

<p class="alerte"><%= notice %></p>

<br>

<div class="bouton"><%= link_to 'Editer', edit_anniv_path(@anniv) %></div> |
<div class="bouton"><%= link_to 'Retour', annivs_path %></div>

</div>
